.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-main);
}

.mainWrapper {
    flex: 1;
    margin-left: 240px;
    /* Sidebar width */
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

.mainWrapper.collapsed {
    margin-left: 0;
}

.content {
    flex: 1;
    padding: 32px;
    overflow-y: auto;
}